fastapi==0.95.2
uvicorn==0.22.0
python-jose==3.3.0
passlib==1.7.4
sqlalchemy==2.0.15
minio==7.1.15
python-multipart==0.0.6
prometheus-fastapi-instrumentator==6.1.0
email-validator>=2.0.0
pyjwt==2.8.0
aiosqlite
aiosmtplib
email-validator
sendgrid